/*
 *  File Name : /src/entry/scss/abstracts/_variable.scss
 *  Description : variable
 */

$G-font-family: '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', 'AppleGothic', sans-serif;

$G-color-black: #000;
$G-color-gray-333: #333;
$G-color-gray-777: #777;
$G-color-gray-aaa: #aaa;
$G-color-gray-ccc: #ccc;
$G-color-white: #fff;
$G-color-point-yellow: #fdff62;
$G-color-point-skyblue: #1ad8f5;
$G-color-point-purple: #5475ff;

$G-url-sprite-icon: '../../img/sp_icon.png';
